html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tfoot, thead,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@font-face
{
	font-family : Yikes!;
	src: url('YIKES!.ttf');
}

h1{
	font-family : "YIKES!";
	font-size : 4em;
	text-shadow: #FFFFFF 1px 1px, #FFFFFF -1px 1px, #FFFFFF -1px -1px, #FFFFFF 1px -1px;
	text-align : center;
	
}

#Bandeau{
	height : 100%;
	width : 100%;
	background-color : #1E7FCB ; 
}

#centre{
	margin-left : auto;
	margin-right : auto;
	width : 60%;
	height : 40%;
	border-color : white ;
	display : table-cell;
	vertical-align : middle;
	text-align : center;
}
#compte_a_rebours{
	text-align : center;
	font-family : "YIKES!";
	font-size : 2em;
	text-shadow: #FFFFFF 1px 1px, #FFFFFF -1px 1px, #FFFFFF -1px -1px, #FFFFFF 1px -1px;
}

