html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tfoot, thead,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*
@font-face
{
	font-family : Yikes!;
	src: url('YIKES!.ttf');
}
*/


body{
    height: 100%;
    width: 100%;
    background-color: #1E7FCB;
    text-align: center;
}

/*
#centre{
    font-family: 'Arial';
    font-size: 2em;
    color: white;
	margin-left : auto;
	margin-right : auto;
	width : 60%;
	height : 40%;
	border-color : white ;
	display : table-cell;
	vertical-align : middle;
}
*/

#fond{
    z-index: 10;
    left: 500px;
    height: 400px;
    display: inline;
    border: 10px white solid;
    margin-left: -5px;
    position: absolute;
}

#joueur{
    z-index: 50;
    left: 500px;
    bottom: 650px;
    width: 150px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.obstacle{
    z-index: 50;
    border: 2px black solid;
    background-color: gray;
    float: left;
    width: 50px;
    height: 50px;
    position: absolute;
}
